
.hero {
	max-width: 40vw;
	max-height: 40wh;
}
@font-face {
  font-family: "Cairo-Regular";
  src: url('../fonts/Cairo-Regular.ttf');
}
@font-face {
  font-family: "Cairo-Bold";
  src: url('../fonts/Cairo-Bold.ttf');
}
@font-face {
  font-family: "Cairo-SemiBold";
  src: url('../fonts/Cairo-SemiBold.ttf');
}
@font-face {
  font-family: "Cairo-ExtraBold";
  src: url('../fonts/Cairo-ExtraBold.ttf');
}
@font-face {
  font-family: "Cairo-Medium";
  src: url('../fonts/Cairo-Medium.ttf');
}
@font-face {
  font-family: "Cairo-Light";
  src: url('../fonts/Cairo-Light.ttf');
}
@font-face {
  font-family: "Cairo-ExtraLight";
  src: url('../fonts/Cairo-ExtraLight.ttf');
}
* {
  font-family: Cairo-Regular  !important;
}

a {
  font-family: Cairo-Bold  !important;
}
